{% extends "base.html.twig" %}

{% block main %}
    <hr>
    <div class="container" style="background-color: blueviolet"><h2 class="text-center">About Page</h2></div>
    <div class="jumbotron">
        <div class="text-primary">
            <h2 style="text-align: center">Using our Site you can:</h2>
            <ul>
            <li class="text-success">Buy or Sell auto tyres.</li>
            <li class="text-success">Search tyres by Brand or by tyre size</li>
            <li class="text-success">Manage your tyres </li>
            <li class="text-success">Add feedback for tyres</li>
            <li class="text-success">Place your order online</li>
            <li class="text-success">Deposit money.</li>
            <li class="text-success">Help and many more...</li>
            </ul>
        </div>
        <hr>
        <div class="text-primary"> <h2 style="text-align: center">More about auto tyres. All Season or Winter Tyres - Which Tyres To Choose?</h2></div>
        <div>
        <p class="text-info">Fitting the right tyres to your vehicle is crucial for your own safety and comfort of driving in different weather conditions. Tyres are the only element in contact with the road, so drivers should always opt for ones that ensure good braking, traction and grip even in bad weather.</p>

            <p class="text-warning">Car owners typically have three options to choose from:

            <p ><strong>Summer tyres, which are designed for the warmer seasons</strong></p>
            <p><strong>Winter tyres, which are designed for the colder climate and icy road surfaces</strong></p>
            <p><strong>All Season tyres, which offer a balance of safety and economy year-round</strong></p>
            <p class="text-info">For the vast majority of drivers, summer tyres are an obvious choice. However, there are many parts of the UK where the winter weather is not severe enough to exclusively warrant the use of winter tyres, so many drivers wonder if it is better to use all weather tyres instead.
            Different tyres, different performance
            Each of these tyres has different characteristics and it's important to understand their parameters in relation to a specific driving environment. While summer tyres do very well during the warmer weather period, winter tyres are best for winter conditions on the road. All season tyres seem to be a universal choice as they are adaptable to both summer and winter weather conditions.
            Continental findings show that all season tyres usually represent a middle ground between summer and winter products. As such, while they are not as effective in the winter conditions (compared to tyres designed purely for this season), they are better than winter products in summer. They are not as good as summer tyres though.
            </p>
        </div>
    </div>
{% endblock %}