{% extends "base.html.twig" %}

{% block main %}
    <hr>
    <div class="container" style="background-color: blueviolet"><h2 class="text-center">Contacts</h2></div>
    <div class="jumbotron">
        <div class="text-center"><p style="color: mediumpurple">Administration Contact Phone:</p> 0889153382</div>
        <hr>
        <div class="text-center"><p style="color: mediumpurple">Email:</p> tyres_place@yahoo.com</div>
        <hr>
        <div class="text-center"><p style="color: mediumpurple">Address:</p> Mladost 1 district, 51 Building, 2-th entrance, 6 floor, 23 apartment, Sofia</div>
        <hr>
    </div>
{% endblock %}