{% extends 'base.html.twig' %}

{% block main %}<div class="jumbotron">
    <h1 class="display-3">My Profile</h1>
    {# @var user \AppBundle\Entity\User #}
    <p class="lead">{{ user.fullName }}</p>
    <hr class="my-4">
    <p class="lead">{{ user.money }} lv.</p>
    <hr class="my-4">
    <p>Here you can make a deposit.</p>

    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Make deposit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Amount</label>
                        <input type="number" id="amount" class="form-control validate" />

                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="lead" id="deposit">
        <a href="" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalForm" role="button">Deposit</a>
    </div>
</div>
    <script>
        {#$('#submit').on('click', function (event) {#}
            {#let sum = $('#amount').val();#}
            {#let amount = {amount:sum};#}
            {#$.ajax({#}
                {#method: 'PATCH',#}
                {#url: '/api/users/deposit/{{ user.id }}',#}
                {#data: {amount}#}
            {#}).then(function (response) {#}
                {#alert('yes')#}
                {#// console.log(response);#}
                {#// $('#modalForm').trigger();#}
            {#}).catch(function (error) {#}
                {#console.log(error)#}
            {#});#}
        {#});#}
    </script>

{% endblock %}

