{% extends 'base.html.twig' %}

{% block main %}

    <img style="margin-left: 250px; margin-bottom: -40px" src="{{ asset('uploads/images/tyre_size/tyre_size2.jpg') }}"
         alt="Card image">
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                <h3 class="card-header">Search Tyres By Size</h3>
            </div>
            <div class="card-body">
                <form method="post" class="form-horizontal"
                      action="{{ path('tyres_search') }}"
                      name="search" novalidate="novalidate">
                    {{ form(form) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

